# .gitignore
#
#
# ©2017–2020
#
# Licensed under the GNU General Public Licence, Version 3.0.
# See http://www.gnu.org/licenses/ for licence information.

.DS_Store
*~
.build
Packages
.swiftpm
Validate\ (macOS).command
Validate\ (Linux).sh
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
