# .gitignore
#
# This source file is part of the CustomProofread open source project.
#
# Copyright ©2017–2018 the CustomProofread project contributors.
#
# Licensed under the GNU General Public Licence, Version 3.0.
# See http://www.gnu.org/licenses/ for licence information.

.DS_Store
*~
.build
Packages
Validate\ (macOS).command
Validate\ (Linux).sh
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
undocumented.json
*.tgz
