
# [_Begin Workspace Section_]

# !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!!
# This section is managed by Workspace.
# Manual changes will not persist.
# For more information, see:
# https://github.com/SDGGiesbrecht/Workspace/blob/master/Documentation/Git.md
# !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!!

.DS_Store
/.build
/Packages
/*.xcodeproj
/.Workspace
/.Validate\ Changes\ (macOS).command
/.Validate\ Changes\ (Linux).sh
/.Test\ Zone

# [_End Workspace Section]

