# .gitignore
#
# This source file is part of the Headers open source project.
#
# Copyright ©2017–[Current Date] the Headers project contributors.

.DS_Store
*~
.build
Packages
.swiftpm
Pr*fen\ (Linux).sh
Pr*fen\ (macOS).command
Validate\ (Linux).sh
Validate\ (macOS).command
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
