# .gitignore
#
# This source file is part of the AllTasks open source project.
#
# Copyright ©2017–2018 the AllTasks project contributors.
#
# This software is subject to copyright law.
# It may not be used, copied, distributed or modified without first obtaining a private licence from the copyright holder(s).

.DS_Store
*~
.build
Packages
Validate\ (macOS).command
Validate\ (Linux).sh
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
