# .gitignore
#
#
# ©2017–[Current Date]
#
# This software is subject to copyright law.
# It may not be used, copied, distributed or modified without first obtaining a private licence from the copyright holder(s).

.DS_Store
*~
.build
Packages
.swiftpm
Pr*fen\ (Linux).sh
Pr*fen\ (macOS).command
Validate\ (Linux).sh
Validate\ (macOS).command
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
