# .gitignore
#
# This source file is part of the CustomReadMe open source project.
#
# Copyright ©2017–2020 the CustomReadMe project contributors.
#
# Dedicated to the public domain.
# See http://unlicense.org/ for more information.

.DS_Store
*~
.build
Packages
.swiftpm
Pr*fen\ (Linux).sh
Pr*fen\ (macOS).command
Validate\ (Linux).sh
Validate\ (macOS).command
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
