# .gitignore
#
#
# ©2017–[Current Date]
#
# Licensed under the MIT Licence.
# See https://opensource.org/licenses/MIT for licence information.

.DS_Store
*~
.build
Packages
.swiftpm
Pr*fen\ (Linux).sh
Pr*fen\ (macOS).command
Validate\ (Linux).sh
Validate\ (macOS).command
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
