# .gitignore
#
#
# ©2017–2020
#
# Licensed under the MIT Licence.
# See https://opensource.org/licenses/MIT for licence information.

.DS_Store
*~
.build
Packages
.swiftpm
Prüfen\ (Linux).sh
Prüfen\ (macOS).command
Validate\ (Linux).sh
Validate\ (macOS).command
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
